* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    width: 85%; /* Aumenta o tamanho do input */
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 15%; /* Ajusta o botão para ocupar o espaço restante */
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #dc3545;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

li button:hover {
    background-color: #c82333;
}
